.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin-right: 60px;
    font-weight: 400;

    &:last-child {
        margin-right: 0;
    }
}

.nav__link:hover {
    color: #ff9a00;
    transition: .2s;
}

.nav__link:active {
    opacity: .5;
    outline: none;
}