.reviews-ans-contact-section {
    position: relative;
    background-size: cover;

    @include desktop {
        background: #c8d6f3 url('../images/parallax/Budda.jpg') no-repeat center center;
    }
}