.reviews {
    padding-top: 245px;
    margin-bottom: 155px;

    @include desktop {
        padding-top: 185px;
    }
}

.reviews__top {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.reviews__list-wrap {
    width: 975px;

    @include desktop {
        width: 83%;
    }
}