.section-title {
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: 700;

    &--values {
        font-size: 30px;
        margin-bottom: 50px;
    }

    &--works {
        margin-bottom: 80px;
    }

    &--reviews {
        margin-bottom: 0px;
        margin-right: 120px;

        @include desktop {
            margin-right: 80px;
        }
    }

    &--contacts {
        margin-bottom: 70px;
    }
}