.skills-row__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 32px;
}

.skills-row__list {
    display: flex;
    align-items: center;
}

.skills-row__item {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}