.slider {
    position: relative;
}

.slider__image {
    width: 100%;
}

.slider__previews {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 175px;
}

.slider__controls {
    position: absolute;
    top: 100%;
    right: 0;
}