.triangles {
    width: 100%;
    display: flex;

    position: absolute;
    bottom: 100%;
    color: #fff;
}

.triangles__item {
    width: 50%;
    height: 125px;
    margin-right: -1px;
    margin-top: -1px;
    fill: currentColor;

    @include desktop {
        height: 80px;
    }

    @include tablets {
        height: 60px;
    }
}

.triangles--rotated {
    top: 0;

    & .triangles__item {
        transform: rotate(180deg);
    }
}