.triangles {
    display: flex;

    position: absolute;
    bottom: 100%;
    color: #fff;
}

.triangles__item {
    width: 50%;
    height: 125px;
    fill: currentColor;
}

.triangles--rotated {
    top: 0;

    & .triangles__item {
        transform: rotate(180deg);
    }
}