.user__avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.user__info-row {
    display: inline-block;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.user__info-header {
    width: 174px;
    text-align: left;
    opacity: .3;
}