.welcome-section {
    position: relative;
    background-size: cover;

    @include desktop {
        background-position-x: 25%;
    }

    @include desktop {
        background: #c8d6f3 url('../images/parallax/Mountain_Baloon.jpg') no-repeat center center;
    }
}