.works {
    padding-top: 50px;
}

.works__content {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.works__slider {
    width: 66%;
}

.works__description {
    width: 350px;
}

.wors__tags {
    margin-bottom: 40px;
}