<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Portfolio | main page</title>
  <link href="/portfolio/main.b5a0ff5dfab82bb211e8.css" rel="stylesheet"></head>
  <body>
    <div class="wrapper">
      <div class="welcome-section">
        <div class="parallax">
          <div class="parallax__layer" data-speed="0.1">
            <picture class="parallax__img">
              <source class="parallax__img" srcset="/portfolio/a3dafc9a41753c808cae68d16c4b5bb2.png" media="(min-width: 1200px)"><img class="parallax__img" src="" alt="Background image">
            </picture>
          </div>
          <div class="parallax__layer" data-speed="0.25">
            <picture>
              <source class="parallax__img" srcset="/portfolio/9fa5756bd50872f799f56377383ce211.png" media="(min-width: 1200px)"><img class="parallax__img" src="">
            </picture>
          </div>
          <div class="parallax__layer" data-speed="0.35">
            <picture>
              <source class="parallax__img" srcset="/portfolio/4ad0d2043395f1c45eca6f018e105d04.png" media="(min-width: 1200px)"><img class="parallax__img" src="">
            </picture>
          </div>
          <div class="parallax__layer" data-speed="0.38">
            <picture>
              <source class="parallax__img" srcset="/portfolio/e2c2110d4a2bb4498bd3a1fff32ae883.png" media="(min-width: 1200px)"><img class="parallax__img" src="">
            </picture>
          </div>
          <div class="parallax__layer" data-speed="0.45">
            <picture>
              <source class="parallax__img" srcset="/portfolio/e5d9920e03815e77fbb56db0a1d40696.png" media="(min-width: 1200px)"><img class="parallax__img" src="">
            </picture>
          </div>
          <div class="parallax__layer" data-speed="0.48">
            <picture>
              <source class="parallax__img" srcset="/portfolio/acedc5398c8382441db43b88d7ca0cae.png" media="(min-width: 1200px)"><img class="parallax__img" src="">
            </picture>
          </div>
          <div class="parallax__layer" data-speed="0.50">
            <picture>
              <source class="parallax__img" srcset="/portfolio/b74d2546ecd531e4665cd558f289deaf.png" media="(min-width: 1200px)"><img class="parallax__img" src="">
            </picture>
          </div>
        </div>
        <div class="welcome-section__content">
          <section class="hero fullscreen-section" id="hero-section">
            <div class="container">
              <header class="header">
                <div class="header__logo logo">ВП</div>
                <div class="header__menu">
                  <nav class="nav">
                    <ul class="nav__list">
                      <li class="nav__item"><a class="nav__link" href="#hero-section">Главная</a></li>
                      <li class="nav__item"><a class="nav__link" href="#about-section">Обо мне</a></li>
                      <li class="nav__item"><a class="nav__link" href="#values-section">Навыки</a></li>
                      <li class="nav__item"><a class="nav__link" href="#works-section">Работы</a></li>
                      <li class="nav__item"><a class="nav__link" href="#reviews-section">Отзывы</a></li>
                      <li class="nav__item"><a class="nav__link" href="#contacts-section">Связаться</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="header__links">
                  <ul class="socials">
                    <li class="socials__item"><a class="socials__link" href="#" target="_blank">
                        <svg class="socials__icon" viewBox="0 0 97.395 97.395" fill="currentcolor">
                          <use xlink:href="/portfolio/sprite.svg#insta"></use>
                        </svg></a></li>
                    <li class="socials__item"><a class="socials__link" href="#" target="_blank">
                        <svg class="socials__icon" viewBox="0 0 548.358 548.358" fill="currentcolor">
                          <use xlink:href="/portfolio/sprite.svg#vk"></use>
                        </svg></a></li>
                    <li class="socials__item"><a class="socials__link" href="#" target="_blank">
                        <svg class="socials__icon" viewBox="0 0 475.084 475.084" fill="currentcolor">
                          <use xlink:href="/portfolio/sprite.svg#github"></use>
                        </svg></a></li>
                  </ul>
                </div><a class="hamburger-menu-link" href="#" id="hamburger-menu-link">
                  <div class="hamburger-menu-link__bars"></div></a>
                <nav class="hamburger-menu" id="hamburger-menu">
                  <ul class="nav__list">
                    <li class="nav__item"><a class="nav__link" href="#hero-section">Главная</a></li>
                    <li class="nav__item"><a class="nav__link" href="#about-section">Обо мне</a></li>
                    <li class="nav__item"><a class="nav__link" href="#values-section">Навыки</a></li>
                    <li class="nav__item"><a class="nav__link" href="#works-section">Работы</a></li>
                    <li class="nav__item"><a class="nav__link" href="#reviews-section">Отзывы</a></li>
                    <li class="nav__item"><a class="nav__link" href="#contacts-section">Связаться</a></li>
                  </ul>
                  <ul class="socials">
                    <li class="socials__item"><a class="socials__link" href="#" target="_blank">
                        <svg class="socials__icon" viewBox="0 0 97.395 97.395" fill="currentcolor">
                          <use xlink:href="/portfolio/sprite.svg#insta"></use>
                        </svg></a></li>
                    <li class="socials__item"><a class="socials__link" href="#" target="_blank">
                        <svg class="socials__icon" viewBox="0 0 548.358 548.358" fill="currentcolor">
                          <use xlink:href="/portfolio/sprite.svg#vk"></use>
                        </svg></a></li>
                    <li class="socials__item"><a class="socials__link" href="#" target="_blank">
                        <svg class="socials__icon" viewBox="0 0 475.084 475.084" fill="currentcolor">
                          <use xlink:href="/portfolio/sprite.svg#github"></use>
                        </svg></a></li>
                  </ul><a class="close-button" id="close-nav-button" href="#">
                    <svg class="close-button__img" viewBox="0 0 18 18" width="20" fill="currentcolor">
                      <use xlink:href="/portfolio/sprite.svg#close"></use>
                    </svg></a>
                </nav>
              </header>
              <div class="hero__content">
                <p class="hero__content-text">Личный сайт веб разработчика</p>
                <h1 class="hero__title">Валентины Понамаревой</h1>
              </div>
              <div class="hero__scroll"><a class="scroll" href="#about-section"><span class="scroll__text">Скролл</span>
                  <svg class="scroll__icon" viewBox="-90 0 512 512" width="30" fill="currentcolor">
                    <use xlink:href="/portfolio/sprite.svg#scroll"></use>
                  </svg></a></div>
            </div>
          </section>
          <section class="about" id="about-section">
            <div class="container about__container">
              <div class="about__left">
                <div class="user">
                  <div class="avatar user__avatar"><img class="avatar__pic" src="/portfolio/f11a05dd8ebf037660e4ea01df4872d7.jpg" alt="avatar">
                  </div>
                  <table class="user__info">
                    <tr class="user__info-row">
                      <th class="user__info-header">Проживаю:</th>
                      <td class="user__info-data">Санкт-Петербург</td>
                    </tr>
                    <tr class="user__info-row">
                      <th class="user__info-header">Возраст:</th>
                      <td class="user__info-data">28 лет</td>
                    </tr>
                    <tr class="user__info-row">
                      <th class="user__info-header">Родилась:</th>
                      <td class="user__info-data">5 октября 1991</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="about__right">
                <div class="about__description">
                  <p class="about__description-top">Привет, меня зовут</p>
                  <h2 class="section-title">Валентина Понамарева</h2>
                  <p class="about__description-text">Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. </p>
                </div>
                <p class="about__note">Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!</p>
              </div>
            </div>
          </section>
        </div>
      </div>
      <section class="values" id="values-section">
        <div class="triangles">
          <svg class="triangles__item" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <polygon points="0,0 0,100 1000,100"></polygon>
          </svg>
          <svg class="triangles__item" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <polygon points="0,100 1000,100 1000,0"></polygon>
          </svg>
        </div>
        <div class="container">
          <div class="values__content">
            <h2 class="section-title section-title--values">Чем я могу быть полезна вам</h2>
            <div class="values__desc">
              <p>Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!</p>
            </div>
            <div class="values__skills">
              <div id="skills-component"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="works" id="works-section">
        <div class="container">
          <h2 class="section-title section-title--works">Мои работы</h2>
          <div id="slider-component"></div>
        </div>
      </section>
      <div class="reviews-ans-contact-section">
        <div class="triangles triangles--rotated">
          <svg class="triangles__item" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <polygon points="0,0 0,100 1000,100"></polygon>
          </svg>
          <svg class="triangles__item" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <polygon points="0,100 1000,100 1000,0"></polygon>
          </svg>
        </div>
        <div class="parallax parallax--budda">
          <div class="parallax__layer" data-speed="0.1">
            <picture class="parallax__img">
              <source class="parallax__img" srcset="/portfolio/5c7636ba6071950a3aa0f65e1045d72a.png" media="(min-width: 1200px)"><img class="parallax__img" src="" alt="Background image">
            </picture>
          </div>
          <div class="parallax__layer" data-speed="0.25">
            <picture>
              <source class="parallax__img" srcset="/portfolio/05cf7db8b12e767f139d8668aa96a9a4.png" media="(min-width: 1200px)"><img class="parallax__img" src="">
            </picture>
          </div>
          <div class="parallax__layer" data-speed="0.3">
            <picture>
              <source class="parallax__img" srcset="/portfolio/dc7e4a42ceb27d9b9b9913b650612cc2.png" media="(min-width: 1200px)"><img class="parallax__img" src="">
            </picture>
          </div>
          <div class="parallax__layer" data-speed="0.38">
            <picture>
              <source class="parallax__img" srcset="/portfolio/87ee80f5ad667d725140b66ce7f3ae62.png" media="(min-width: 1200px)"><img class="parallax__img" src="">
            </picture>
          </div>
          <div class="parallax__layer" data-speed="0">
            <picture>
              <source class="parallax__img" srcset="/portfolio/8a26b5b80ee3d9e684dc775cd81d4c87.png" media="(min-width: 1200px)"><img class="parallax__img" src="">
            </picture>
          </div>
          <div class="parallax__layer" data-speed="0">
            <picture>
              <source class="parallax__img" srcset="/portfolio/44d1ca7f889826e094fefef6bf51bf50.png" media="(min-width: 1200px)"><img class="parallax__img" src="">
            </picture>
          </div>
        </div>
        <section class="reviews" id="reviews-section" @click="checkArrows" @touchEnd="checkArrows">
          <div class="container">
            <div class="reviews__top">
              <h2 class="section-title section-title--reviews">Что обо мне говорят</h2>
              <div class="reviews__controls">
                <div class="circle-btns">
                  <button class="circle-btns__item circle-btns__item--slide--prev" @click="previous" :disabled="true" ref="circleBtnPrev">
                    <svg class="circle-btns__icon" viewBox="0 0 306 306" width="10" height="8" fill="currentcolor">
                      <use xlink:href="/portfolio/sprite.svg#arrow-down"></use>
                    </svg>
                  </button>
                  <button class="circle-btns__item circle-btns__item--slide--next" @click="next" :disabled="false" ref="circleBtnNext">
                    <svg class="circle-btns__icon" viewBox="0 0 306 306" width="10" height="8" fill="currentcolor">
                      <use xlink:href="/portfolio/sprite.svg#arrow-down"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="reviews__slider">
              <flickity class="slider-horizontal" ref="flickity" :options="flickityOptions">
                <div class="slider-horizontal__item">
                  <svg class="slider-horizontal__item-icon" viewBox="0 0 95.333 95.332" width="75" height="63" fill="currentcolor">
                    <use xlink:href="/portfolio/sprite.svg#quote"></use>
                  </svg>
                  <div class="slider-horizontal__content">
                    <div class="slider-horizontal__text">
                      <p>Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!</p>
                    </div>
                    <div class="slider-horizontal__source">
                      <div class="avatar slider-horizontal__avatar"><img class="avatar__pic" src="/portfolio/fbab623dca7d79c766e1cb0fd1c7ba42.jpg">
                      </div>
                      <div class="slider-horizontal__author">
                        <div class="slider-horizontal__name">Ковальчук Дмитрий</div>
                        <div class="slider-horizontal__position">Основатель Loftschool</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slider-horizontal__item">
                  <svg class="slider-horizontal__item-icon" viewBox="0 0 95.333 95.332" width="75" height="63" fill="currentcolor">
                    <use xlink:href="/portfolio/sprite.svg#quote"></use>
                  </svg>
                  <div class="slider-horizontal__content">
                    <div class="slider-horizontal__text">
                      <p>Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах</p>
                    </div>
                    <div class="slider-horizontal__source">
                      <div class="avatar slider-horizontal__avatar"><img class="avatar__pic" src="/portfolio/c4ef12235e89317280205f801a1896ee.jpg">
                      </div>
                      <div class="slider-horizontal__author">
                        <div class="slider-horizontal__name">Владимир Сабанцев</div>
                        <div class="slider-horizontal__position">Преподаватель</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slider-horizontal__item">
                  <svg class="slider-horizontal__item-icon" viewBox="0 0 95.333 95.332" width="75" height="63" fill="currentcolor">
                    <use xlink:href="/portfolio/sprite.svg#quote"></use>
                  </svg>
                  <div class="slider-horizontal__content">
                    <div class="slider-horizontal__text">
                      <p>Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах</p>
                    </div>
                    <div class="slider-horizontal__source">
                      <div class="avatar slider-horizontal__avatar"><img class="avatar__pic" src="/portfolio/c4ef12235e89317280205f801a1896ee.jpg">
                      </div>
                      <div class="slider-horizontal__author">
                        <div class="slider-horizontal__name">Владимир Сабанцев</div>
                        <div class="slider-horizontal__position">Преподаватель</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slider-horizontal__item">
                  <svg class="slider-horizontal__item-icon" viewBox="0 0 95.333 95.332" width="75" height="63" fill="currentcolor">
                    <use xlink:href="/portfolio/sprite.svg#quote"></use>
                  </svg>
                  <div class="slider-horizontal__content">
                    <div class="slider-horizontal__text">
                      <p>Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах</p>
                    </div>
                    <div class="slider-horizontal__source">
                      <div class="avatar slider-horizontal__avatar"><img class="avatar__pic" src="/portfolio/c4ef12235e89317280205f801a1896ee.jpg">
                      </div>
                      <div class="slider-horizontal__author">
                        <div class="slider-horizontal__name">Владимир Сабанцев</div>
                        <div class="slider-horizontal__position">Преподаватель</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slider-horizontal__item">
                  <svg class="slider-horizontal__item-icon" viewBox="0 0 95.333 95.332" width="75" height="63" fill="currentcolor">
                    <use xlink:href="/portfolio/sprite.svg#quote"></use>
                  </svg>
                  <div class="slider-horizontal__content">
                    <div class="slider-horizontal__text">
                      <p>Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах</p>
                    </div>
                    <div class="slider-horizontal__source">
                      <div class="avatar slider-horizontal__avatar"><img class="avatar__pic" src="/portfolio/c4ef12235e89317280205f801a1896ee.jpg">
                      </div>
                      <div class="slider-horizontal__author">
                        <div class="slider-horizontal__name">Владимир Сабанцев</div>
                        <div class="slider-horizontal__position">Преподаватель</div>
                      </div>
                    </div>
                  </div>
                </div>
              </flickity>
            </div>
          </div>
        </section>
        <section class="contacts" id="contacts-section">
          <div class="container">
            <h2 class="section-title section-title--contacts">Связаться со мной</h2>
            <form class="form" action="#" method="POST">
              <div class="form__row">
                <label class="form__block"><span class="form__label">Введите ваше имя</span>
                  <input class="form__input" type="text" name="name" placeholder="Валентина Понамарева">
                  <svg class="form__input-icon" viewBox="0 0 482.9 482.9" width="30" height="29" fill="currentcolor">
                    <use xlink:href="/portfolio/sprite.svg#user"></use>
                  </svg>
                  <div class="form__error">Какая-то ошибка</div>
                </label>
                <label class="form__block"><span class="form__label">Введите ваш email</span>
                  <input class="form__input" type="email" name="email" placeholder="valiazin@gmail.com">
                  <svg class="form__input-icon" viewBox="0 0 483.3 483.3" width="30" height="30" fill="currentcolor">
                    <use xlink:href="/portfolio/sprite.svg#envelope"></use>
                  </svg>
                  <div class="form__error">Какая-то ошибка</div>
                </label>
              </div>
              <div class="form__row form__row--margin--l">
                <label class="form__block"><span class="form__label">Сообщение к письму</span>
                  <textarea class="form__input form__input--textarea" type="text" name="message" placeholder="Требуется Ваша помощь в создании сайта. Интересуют сроки и цена вопроса"></textarea>
                  <svg class="form__input-icon" viewBox="0 0 612 612" width="30" height="30" fill="currentcolor">
                    <use xlink:href="/portfolio/sprite.svg#message"></use>
                  </svg>
                  <div class="form__error">Какая-то ошибка</div>
                </label>
              </div>
              <div class="form__row">
                <input class="btn" type="submit" value="Отправить">
              </div>
            </form>
          </div>
        </section>
      </div>
      <footer class="footer" id="footer-section">
        <div class="container footer__container">
          <div class="footer__copyright">
            <div class="footer__copyright-year">&copy; 2019</div>
            <div class="footer__copyright-name">
              <div class="footer__copyright-myname">Валентина Понамарева</div>
              <div class="footer__copyright-note">Личный сайт веб-разработчика</div>
            </div>
          </div>
          <div class="footer__right">
            <div class="footer__top">
              <nav class="nav">
                <ul class="nav__list nav__list--left">
                  <li class="nav__item"><a class="nav__link" href="#hero-section">Главная</a></li>
                  <li class="nav__item"><a class="nav__link" href="#about-section">Обо мне</a></li>
                  <li class="nav__item"><a class="nav__link" href="#values-section">Навыки</a></li>
                  <li class="nav__item"><a class="nav__link" href="#works-section">Работы</a></li>
                  <li class="nav__item"><a class="nav__link" href="#reviews-section">Отзывы</a></li>
                  <li class="nav__item"><a class="nav__link" href="#contacts-section">Связаться</a></li>
                </ul>
              </nav>
            </div>
            <div class="footer__bottom">
              <div class="footer__bottom-left">
                <p class="footer__note">Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool </p>
                <div class="footer__links">
                  <ul class="socials">
                    <li class="socials__item socials__item--circled"><a class="socials__link" href="#" target="_blank">
                        <svg class="socials__icon" viewBox="0 0 97.395 97.395" fill="currentcolor">
                          <use xlink:href="/portfolio/sprite.svg#insta"></use>
                        </svg></a></li>
                    <li class="socials__item socials__item--circled"><a class="socials__link" href="#" target="_blank">
                        <svg class="socials__icon" viewBox="0 0 548.358 548.358" fill="currentcolor">
                          <use xlink:href="/portfolio/sprite.svg#vk"></use>
                        </svg></a></li>
                    <li class="socials__item socials__item--circled"><a class="socials__link" href="#" target="_blank">
                        <svg class="socials__icon" viewBox="0 0 475.084 475.084" fill="currentcolor">
                          <use xlink:href="/portfolio/sprite.svg#github"></use>
                        </svg></a></li>
                  </ul>
                </div>
              </div>
              <div class="footer__bottom-right">
                <div class="blockquote">
                  <p class="blockquote__text">Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете</p><span class="blockquote__author">Martin Golding</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
<script type="text/x-template" id="skills-list">
  <ul class="skill-groups">
    <li class="skill__groups-item" v-for="category in skills" :key="category.title">
      <skills-row :category="category"></skills-row>
    </li>
  </ul>
</script>
<script type="text/x-template" id="skills-row">
  <div class="skills-row">
    <h3 class="skills-row__title">{{category.title}}</h3>
    <ul class="skills-row__list">
      <li class="skills-row__item" v-for="skill in category.skills" :key="skill.id">
        <skill :skill="skill"></skill>
      </li>
    </ul>
  </div>
</script>
<script type="text/x-template" id="skill">
  <div class="skill">
    <svg class="skill__shape" viewBox="0 0 100 100">
      <circle class="skill__circle skill__circle--position--under" cx="50" cy="50" r="40"></circle>
      <circle class="skill__circle skill__circle--position--above" cx="50" cy="50" r="40" ref="circle"></circle>
      <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0">
        <stop offset="0%" stop-color="#5500f2"></stop>
        <stop offset="100%" stop-color="#8f00ef"></stop>
      </linearGradient>
    </svg>
    <div class="skill__title">{{skill.title}}</div>
  </div>
</script>
    <script type="text/x-template" id="slider-container">
      <div class="works__content">
        <display :currentWork="currentWork" :works="works" @slide="handleSlide"></display>
        <info :currentWork="currentWork"></info>
      </div>
    </script>
    <script type="text/x-template" id="slider-display">
      <div class="works__slider">
        <div class="slider"><img class="slider__image" :src="currentWork.photo">
          <previews :works="works" :currentWork="currentWork"></previews>
          <buttons @slide="$emit('slide', $event)"></buttons>
        </div><span class="works__number">{{currentWork.id}}</span>
      </div>
    </script>
    <script type="text/x-template" id="slider-previews">
      <div class="slider__previews">
        <ul class="slider__previews-list">
          <li class="slider__previews-item" v-for="work in works" :key="work.id" :class="{'slider__previews-item--active': currentWork.id === work.id}"><img class="slider__preview-image" :src="work.photo"></li>
        </ul>
      </div>
    </script>
    <script type="text/x-template" id="slider-buttons">
      <div class="slider__controls">
        <div class="slider-btns">
          <button class="slider-btns__item slider-btns__item--slide--prev" @click.prevent="$emit('slide', 'next')">
            <svg class="slider-btns__icon" viewBox="0 0 306 306" width="8" height="10" fill="currentcolor">
              <use xlink:href="/portfolio/sprite.svg#arrow-down"></use>
            </svg>
          </button>
          <button class="slider-btns__item slider-btns__item--slide--next" @click.prevent="$emit('slide', 'prev')">
            <svg class="slider-btns__icon" viewBox="0 0 306 306" width="8" height="10" fill="currentcolor">
              <use xlink:href="/portfolio/sprite.svg#arrow-down"></use>
            </svg>
          </button>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="slider-info">
      <div class="works__description">
        <tags :tags="tagsArray"></tags>
        <div class="works__text">
          <h3 class="works__title">{{currentWork.title}}</h3>
          <div class="works__definition">
            <p>{{currentWork.desc}}</p>
          </div><a class="iconed-link" :href="currentWork.link" target="_blank">
            <div class="iconed-link__icon"></div><span class="iconed-link__text">Посмотреть сайт</span></a>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="slider-tags">
      <div class="wors__tags">
        <ul class="tags">
          <li class="tags__item" v-for="tag in tags" :key="tag">{{tag}}</li>
        </ul>
      </div>
    </script>
  <script type="text/javascript" src="/portfolio/main.268beadfbec3d7a39799.build.js"></script></body>
</html>