script(type="text/x-template")#slider-container
    .works__content
        display(
            :currentWork="currentWork"
        )
        info


script(type="text/x-template")#slider-display
    .works__slider
        pre {{currentWork}}
        .slider
            img.slider__image
            previews
            buttons
        span.works__number 4

script(type="text/x-template")#slider-previews
    .slider__previews
        ul.slider__previews-list
            li.slider__previews-item.slider__previews-item--active
                img.slider__preview-image

script(type="text/x-template")#slider-buttons
    .slider__controls
        .slider-btns
            button.slider-btns__item.slider-btns__item--slide--prev
                +icon('arrow-down', 'slider-btns__icon', '8', '10')
            button.slider-btns__item.slider-btns__item--slide--next
                +icon('arrow-down', 'slider-btns__icon', '8', '10')

script(type="text/x-template")#slider-info
    .works__description
        tags
        .works__text
            h3.works__title Сайт школы образования
            .works__definition
                p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            a.iconed-link(href='#' target="_blank")
                .iconed-link__icon
                span.iconed-link__text Посмотреть сайт

script(type="text/x-template")#slider-tags
    .wors__tags
        ul.tags
            li.tags__item
