include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome__section
        section.hero
          .container
            header.header
              .hero__logo
                .logo ВП
              .hero__menu
                nav.nav
                  - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a.nav__link(href="#") #{item}
              .hero__links
                - var icons = ['insta', 'vk', 'github'];
                ul.socials
                  each item in icons
                    li.socials__item
                      a.socials__link(href="#")
                        +icon(`${item}`, 'socials__img', '25', '25')

            .hero__content
              p.hero__content-text Личный сайт веб разработчика
              h1.page-title Валентина Понамарева
            .hero__scroll
              .scroll
                span.scroll__text Скролл
                +icon('scroll', 'scroll__img', '30')

        section.about
          .container
            .about__content
              .about__left
                .user
                  .avatar.user__avatar
                    +image('content/user.jpg', 'avatar-pic')
                  table.user__info
                    tr.user__info-row
                      th.user__info-header Проживаю:
                      td.user__info-data Санкт-Петербург
                    tr.user__info-row
                      th.user__info-header Возраст:
                      td.user__info-data 28 лет
                    tr.user__info-row
                      th.user__info-header Родилась:
                      td.user__info-data 5 октября 1991

              .about__right
                .about__description
                  p.about__description-top Привет, меня зовут
                  h2.section__title Валентина Понамарева
                  p.about__description-text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__note
                  span.about__note-icon *
                  p.about__note-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              
      section.values
        .container
          .values__image
            .values__image-frame
          .values__content
            h2.section__title Чем я могу быть полезна вам
            .values__desc
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

            ul.skill-groups
              - 
                var skills = [
                  ['frontend', ['html', 'css', 'javascript', 'jquery']],
                  ['workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']],
                ]
              each item in skills
                li.skill__groups-item.skills-row
                  h3.skills-row__title #{item[0]}
                  ul.skills-row__list
                    each skill in item[1]
                      li.skills-row__item
                        .skill
                          .skill__title #{skill}

      section.works
        .container
          h2.section__title Мои работы
          .works__content
            .slider
              +image('content/work_preview1.jpg', 'slider__image')
              ul.slider__previews-list
                li.slider__previews-item
                  +image('content/work_preview2.jpg', 'slider__preview-image')
                li.slider__previews-item
                  +image('content/work_preview3.jpg', 'slider__preview-image')
                li.slider__previews-item
                  +image('content/work_preview4.jpg', 'slider__preview-image')
                li.slider__previews-item
                  +image('content/work_preview4.jpg', 'slider__preview-image')
              .slider__controls
                a.slider__btn.slider__btn-next(href="#")
                  +icon('arrow-down', 'slider__btn-next-icon', '10', '8')
                a.slider__btn.slider__btn-prev(href="#")
                  +icon('arrow-down', 'slider__btn-prev-icon', '10', '8')
            .works__description
              span.works__description-number
              .works__description-content
                ul.works__description-tags
                  li.works__description-tag HTML
                  li.works__description-tag CSS
                  li.works__description-tag Javascript
                h3.works__description-title Сайт школы образования
                p.works__description-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a.works__description-link(href='#') Посмотреть сайт

      section.reviews
        .container
          .reviews__top
            h2.section__title Что обо мне говорят
            .reviews__controls
              a.reviews__btn.reviews__btn-prev(href="#")
                +icon('arrow-down', 'reviews__btn-prev-icon', '10', '8')
              a.reviews__btn.reviews__btn-next(href="#")
                +icon('arrow-down', 'reviews__btn-next-icon', '10', '8')
          .reviews__list-wrap
            ul.reviews__list
              li.reviews__item
                +icon('quote', 'reviews__item-icon', '75', '63')
                .reviews__item-content
                  p.reviews__item-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                  cite.
                  .reviews__item-source
                    .reviews__item-avatar
                      +image('content/review1.jpg', 'reviews__item-img')
                    .reviews__item-author
                      span.reviews__item-name Ковальчук Дмитрий
                      span.reviews__item-position Основатель Loftschool
              li.reviews__item
                +icon('quote', 'reviews__item-icon', '75', '63')
                .reviews__item-content
                  p.reviews__item-text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                  cite.
                  .reviews__item-source
                    .reviews__item-avatar
                      +image('content/review2.jpg', 'reviews__item-img')
                    .reviews__item-author
                      span.reviews__item-name Владимир Сабанцев
                      span.reviews__item-position Преподаватель

      section.contacts
        .container
          h2.section__title Связаться со мной
          form.contacts__form(action="#" method="POST")
            .contacts__form-row
              label.contacts__form-block
                span.contacts__form-label Введите ваше имя
                input.contacts__form-input(type="text" name="name")
              label.contacts__form-block
                span.contacts__form-label Введите ваш email
                input.contacts__form-input(type="email" name="email")
            .contacts__form-row
              label.contacts__form-block
                span.contacts__form-label Сообщение к письму
                textarea.contacts__form-input(type="text" name="message")
            .contacts__form-row
              input.btn(type="submit" value="Отправить")

      footer.footer


      .maincontent
        +image('content/user.jpg', 'user-pic')
        +icon('link', 'link-class')
        .icon-bg