include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .wrapper__section
        section.section.hero
          .container
            header.header
              .logo ВП
              nav.nav
                ul.nav__list
                  li.nav__item
                    a.nav__link(href="#") Главная
                  li.nav__item
                    a.nav__link(href="#") Обо мне
                  li.nav__item
                    a.nav__link(href="#") Навыки
                  li.nav__item
                    a.nav__link(href="#") Работы
                  li.nav__item
                    a.nav__link(href="#") Отзывы
                  li.nav__item
                    a.nav__link(href="#") Связаться
              .socials
                ul.socials__list
                  li.socials__item
                    a.socials__link(href="#")
                      +icon('insta', 'socials__img', '25', '25')
                  li.socials__item
                    a.socials__link(href="#")
                      +icon('vk', 'socials__img', '31', '30')
                  li.socials__item
                    a.socials__link(href="#")
                      +icon('github', 'socials__img', '27', '27')
            .hero__content
              p.hero__content-text Личный сайт веб разработчика
              h1.page-title Валентина Понамарева
            .scroll
              span.scroll__text Скролл
              +icon('scroll', 'scroll__img', '30')

        section.section.about
          .container
            .about__top
              .about__avatar
                .about__avatar-frame
                  +image('content/user.jpg', 'user-pic')
              .about__description
                p.about__description-top Привет, меня зовут
                h2.section__title Валентина Понамарева
                p.about__description-text Я занимаюсь разработкой современных сайтов и приложений.
                p.about__description-text Мне нравится делать интересные и современные проекты.
            .about__bottom
              table.about__table
                tr.about__table-row
                  th.about__table-header Проживаю:
                  td.about__table-data Санкт-Петербург
                tr.about__table-row
                  th.about__table-header Возраст:
                  td.about__table-data 28 лет
                tr.about__table-row
                  th.about__table-header Родилась:
                  td.about__table-data 5 октября 1991
              .about__note
                span.about__note-icon *
                p.about__note-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            
      section.section.skills
        .container
          .skills__image
            .skills__image-frame
          .skills__content
            h2.section__title Чем я могу быть полезна вам
            p.skills__note Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

            ul.skills__groups
              li.skills__groups-item
                h3.skills__title Front-end
                ul.skills__list
                  li.skills__item
                    span.skills__item-text HTML5
                  li.skills__item
                    span.skills__item-text CSS3
                  li.skills__item
                    span.skills__item-text Javascript
                  li.skills__item
                    span.skills__item-text jquery
              li.skills__groups-item
                h3.skills__title Workflow
                ul.skills__list
                  li.skills__item
                    span.skills__item-text GIT
                  li.skills__item
                    span.skills__item-text Terminal
                  li.skills__item
                    span.skills__item-text Gulp
                  li.skills__item
                    span.skills__item-text Webpack

      section.section.works
        .container
          h2.section__title Мои работы
          .works__content
            .slider
              +image('content/work_preview1.jpg', 'slider__image')
              ul.slider__previews-list
                li.slider__previews-item
                  +image('content/work_preview2.jpg', 'slider__preview-image')
                li.slider__previews-item
                  +image('content/work_preview3.jpg', 'slider__preview-image')
                li.slider__previews-item
                  +image('content/work_preview4.jpg', 'slider__preview-image')
                li.slider__previews-item
                  +image('content/work_preview4.jpg', 'slider__preview-image')
              .slider__controls
                a.slider__btn.slider__btn-next(href="#")
                  +icon('arrow-down', 'slider__btn-next-icon', '10', '8')
                a.slider__btn.slider__btn-prev(href="#")
                  +icon('arrow-down', 'slider__btn-prev-icon', '10', '8')
            .works__description
              ul.works__description-list
                li.works__description-item
                  span.works__description-number
                  .works__description-content
                    ul.works__description-tags
                      li.works__description-tag HTML
                      li.works__description-tag CSS
                      li.works__description-tag Javascript
                    h3.works__description-title Сайт школы образования
                    p.works__description-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    a.works__description-link Посмотреть сайт

      section.section.reviews


      .maincontent
        +image('content/user.jpg', 'user-pic')
        +icon('link', 'link-class')
        .icon-bg